*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Gilroy';
    color:#fff;
}
html,body{
    height:100%;
    width:100%;
}
.cursor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 8;
    transition: background-image ease 0.5s;
    background-position: center;
    background-size:cover ;
    mix-blend-mode: difference;
}
#purple{
   height:100vh;
   width:100vh;
   top:0;
   position: fixed;
   z-index:100;
   background-color:#EDBFFF;
   opacity: 0; 
   display: none;
   transition: opacity ease 1s ;
}
.main{
   background-color:#0F0D0D; 
   cursor: none;
}
.page1{
    min-height:100vh;
    width:100%;
    position: relative;
    z-index: 9;
    padding-top:12vw;
    background-color:light black;
}
#nav{
  height:55px;
  width:100%;
  background-color:#0F0D0D; 
  display:flex;
  align-items:center;
  justify-content: space-between;
  padding:0 30px;
  position:fixed;
  mix-blend-mode: difference;
  z-index:102;
}
#nav img{
    height:26px;
}
#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
#nav #circle{
height:20px;
width:20px;
border-radius: 50%;
background-color: #fff;
}
#nav h4{
    font-size: 13px;
    font-weight:500;
    text-transform: uppercase;
}
#nav h4:nth-child(1){
    text-decoration: underline;
}
.page1 h1{
    font-size:8vw;
    font-weight:300;
    font-family:PP mori;
    margin-left:6vw;

}
.page1 h2{
    font-size:8vw;
    font-weight:300;
    font-family:PP mori;
    margin-left:26vw;
}
.page1 video{
    width:60%;
    margin-top:10vw;
position:relative;
left:50%;
transform:translate(-50%,0);
}
.page2{
min-height: 80vh;
width: 100%;
padding:100px 5vw;
border-bottom:2px solid #6c6c6c;
z-index:9;
position:relative;
}
.page2 h1{
    font-size:7vw;
    font-weight:500;
    color:#111;
}
.page2-container{
   height:60vh;
   width:100%;
   /* background-color: red; */
   display:flex;
    align-items:center;
    justify-content:space-between;
    /* padding:0 5vw; */
}
.page2-left{
    /* background-color: blue; */
    width:38%;

}
.page2-left h2{
    font-size:3vw;
    font-weight:300;
    color:#111;
    line-height: 4vw; 
}
.page2-right{
    /* background-color: blue; */
    width:24%;
}
.page2-right p{
    font-size:28px;
    color:#111;
}
.page2-right button{
    /* width:100%;
    border-radius: 50px;
    border:none;
    padding:4px 0;
    background-color: #EDBFFF;
    color:#111;
    margin-top:20px; */
    background-color:lightcyan;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    margin-top:5px;
}
.page2-right button:hover {
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  };
  
  .page2-right button:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
  };
.page3{
    min-height: 100vh;
    width:100%;
    position:relative;
    padding-top:100px;
    z-index:9;
}
.page3 h1{
    font-size:6.8vw;
    font-weight:300;
    color:#111;
    margin-left: 100px;
}
#page3-part1{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}
#page3-part1 img{
    height:350px;
    margin-top:160px;
    margin-left:10px;
}
#page3-part1 video{
    height:350px;
    margin-top:160px;
    margin-right:10px;
}
#page3-part2{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}
#page3-part2 img{
    height:360px;
    margin-top:160px;
    margin-left:10px;
}
#page3-part2 video{
    height:380px;
    margin-top:160px;
    margin-right:10px;
}
.page4{
    min-height:100vh ;
    width:100%;
    position:relative;
    z-index:9;
    padding:140px 100px;
}
.elem{
    /* background-color: salmon; */
    margin-bottom: 10px;
   display: flex;
   align-items: center;  
   justify-content: center;
   position: relative;
  }
.text-div{
    height:145px;
    overflow:hidden;
  }
  .elem img{
    position:absolute;
    opacity:0;
    transition: all ease-out 0.5s;
    transform:translateY(10%) rotate(2deg);

  }
.elem img:nth-child(1){
left:2%;
}
.elem img:nth-child(3){
right:10%;
}
    
.elem h1{
      font-size:7.5vw;
      font-weight:600;
      transition: all ease-out 0.5s;
  }
  .elem:hover h1{
    transform:translateY(-100%) ;
    color:#EDBFFF

  }
  .elem:hover img{
    opacity: 1;
    transform:translateY(0%) rotate(0deg);

  }
.page5{
    min-height:100vh ;
    width:100%;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}
.page5 h2{
font-size:4vw;
text-transform: uppercase;
font-weight: 400;
margin-bottom: 50px;
}
.box{
    /* background-color: red; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
    border-top: 2px solid #dadada;
}
.box:nth-last-child(1){
    border-bottom: 2px solid #dadada;   
}
/* footer{
height:90vh;
width:100%;
background-color: #EDBFFF;
}
.foot1{ 
     display:flex; 
    align-items: center; 
    justify-content: space-between;  
}
.foot1 h1{
    color: #111;
    font-size: 100px;
    font-weight: 700px;
    padding-top: 200px;
    padding-left:100px ;
}

.foot1 p{
    color: #111;
    font-size: 20px;
    z-index:8; 
    align-items: center;
    background-size:cover;
    margin-top: 50px; 
    margin-right: 70px;
    margin-left: 40px;
}



.ct{
    border-radius: 50%;
    background-color: white;
    height:150px;
    width:150px;
    margin-top: 200px; 
    margin-right: 70px;
}*/

footer{
    position:relative;
    width:100%;
    background:#3586ff;
    min-height:100px;
    padding:20px 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
}
footer .social_icon,
footer .menu{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px 0;
    flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li{
    list-style:none;
}
footer .social_icon li a
{
    font-size:2em;
    color:#fff;
    margin:0 10px;
    display: inline-block;
    transition: 0.5s;
}
footer .social_icon li a:hover{
    transform: translateY(-10px);
}
footer .menu li a
{
    font-size:1.2em;
    color:#fff;
    margin:0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration:none ;
    opacity: 0.7s;
}
footer .menu li a:hover{
    opacity: 1;
}
footer p{
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}
footer .wave{
    position:absolute;
    top:-100px;
    left:0;
    width:100%;
    height: 100px;
    background:url(/assests/wave.png);
    background-size: 1000px 100px;
}
footer .wave#wave1{
z-index: 1000;
opacity: 1;
bottom: 0;
animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
    } 
footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
} 
@keyframes animateWave
{
    0%
    {
      background-position-x:1000px ;  
    }
     100%{
        background-position-x: 0px;
    } 
}
@keyframes animateWave_02
{
    0%
    {
      background-position-x:0px ;  
    }
    100%{
        background-position-x:1000px;
    }
}






